
.toolbar {
  display: table;
  width: 100%;

  > .pull-bottom {
    display: table-cell;
    vertical-align: bottom;
    float: none;
  }
}
.filter {
  margin-right: -15px;
  float: right;
}
.react-bs-table-container {
  margin-bottom: 20px;
}
.pagination {
  float: right;
}
.deactivated {
  color: grey;
}

.list-group {
  margin-bottom: 0 !important;
}
.popover-content {
  padding: 0 !important;
}
